@import '../../../styles/mixins.scss';

:local(.breedSelector) {
    padding: 0 2rem;
}

:local(.container) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

:local(.button) {
    width: auto;
    margin-right: 1rem;
}

:local(.select) {
    width: 100%;
    margin-bottom: 2rem;
}

:local(.header) {
    width: 100%;
}

@include tablet {
    :local(.select) {
        $gut: 2%;
        $width: (100% - $gut * 2) / 3;
        width: $width;
        margin-right: $gut;
        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    :local(.button) {
        width: auto;
        margin-right: 1rem;
    }
}
