@import '../../../styles/mixins.scss';

:local(.breedFetcher) {
    margin: 2rem 0;
    padding: 0 2rem;
}

:local(.header) {
    width: 100%;
}

@include tablet {
    :local(.breedFetcher) {
        margin: 2rem 0;
        display: flex;
        flex-flow: row wrap;
    }
}
