@import '../../../styles/mixins.scss';

:global {
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

    html {
        background-color: #f3f3f3;
        font-family: 'Roboto', sans-serif;
        font-size: 62.5%;
        line-height: 1.6;
        min-height: 100%;
    }

    body {
        font-size: 1.6rem;
        min-height: 100%;
        @include tablet {
            font-size: 1.8rem;
        }
        @include desktop {
            font-size: 1.9rem;
        }
        @include largeDesktop {
            font-size: 2rem;
        }
    }

    button {
        padding: 1.4rem 2rem;
        // outline: none;
        border: none;
        cursor: pointer;
        font-family: inherit;
        font-weight: normal;
        font-size: 2rem;
    }

    figure {
        margin: 0;
    }

    a {
        color: dodgerblue;
    }

    h1,
    h2 {
        font-weight: 100;
        em {
            color: mediumaquamarine;
            font-style: normal;
        }
    }
}

:local(.app) {
    color: #333;
}

:local(.header) {
    padding: 0 2rem;
}
