$selectTransTime: 0.3s;

:local(.select) {
    position: relative;
    width: 32rem;
    // outline: none;
}

:local(.label) {
    z-index: 2;
    position: relative;
    width: 100%;
    text-transform: capitalize;
    text-align: left;
    color: dodgerblue;
    background-color: white;
    border-bottom: 2px solid black;

    &:after {
        content: '';
        position: absolute;
        right: 2rem;
        top: 50%;
        width: 0;
        height: 0;
        display: block;
        border: 0.6rem solid transparent;
        border-top-color: black;
        transition: transform $selectTransTime;
        transform: translateY(-25%);
    }
}

:local(.options) {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-height: 50vh;
    overflow-x: visible;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-transform: capitalize;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity $selectTransTime, visibility 0s $selectTransTime;
}

:local(.isOpen) {
    z-index: 10;
    background-color: white;
    transition: box-shadow $selectTransTime;
    box-shadow: 0 0 6rem 0 rgba(0, 0, 0, 0.2);

    :local(.label) {
        &:after {
            transform: rotate(-180deg) translateY(50%);
        }
    }

    :local(.options) {
        opacity: 1;
        visibility: visible;
        transition: opacity $selectTransTime;
        box-shadow: 0 0 6rem 0 rgba(0, 0, 0, 0.2);
    }
}

:local(.hasValue) {
    :local(.label) {
        color: mediumaquamarine;
        border-bottom: 2px solid mediumaquamarine;
    }
}
